<!doctype html>
<html>
	<head>
		<title>Mocha results - {{passes}}/{{tests}} passed</title>
		<link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" media="screen">
		<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=sunburst"></script>

		<style type="text/css">

		.suite dt:first-child {
			border-top: 1px solid #AAAAAA;
			padding-top: 10px;
		}
		section {
			background: rgba(50, 50, 255, 0.1);
			border: 1px solid #AAAAAA;
			border-radius: 10px 10px 10px 10px;
			margin-left: 20px;
			padding: 20px 5px 20px 20px;
		}
		.fail a {
			color : inherit;
			text-decoration : none;
		}

		</style>
	</head>
	<body class="container">
		<h1>Summary</h1>
		<hr>
    <div class="progress">
			<div class="bar bar-success" style="width: {{successPercentage}}%;"></div>
			<div class="bar bar-danger" style="width: {{failurePercentage}}%;"></div>
    </div>
		{{#failed}}
		<div class="alert alert-error">
			<strong>Unit tests failed!</strong>
		</div>
		{{/failed}}
		<dl>
			<dt>Total tests:</dt>
			<dd>{{tests}}</dd>
			<dt>Passed:</dt>
			<dd>{{passes}}</dd>
			<dt>Failed</dt>
			<dd>{{failed}}</dd>
		</dl>
		{{#failed}}
		<h1>Failures</h1>
		<hr>
		<ol class="failures">
		{{/failed}}
			{{#failures}}
				<li><a href="#error_{{index}}">{{test}}</a></li>
			{{/failures}}
		{{#failed}}
		</ol>
		{{/failed}}

		<h1>Results</h1>
		<hr>
		{{{results}}}


	</body>
</html>
