<!doctype html>
<html>
	<head>
		<title>Mocha results - {{passes}}/{{tests}} passed</title>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=javascript&skin=sunburst"></script>
	</head>
	<body>
		<h1>Summary</h1>
		<dl>
			<dt>Total tests:</dt>
			<dd>{{tests}}</dd>
			<dt>Passed:</dt>
			<dd>{{passes}}</dd>
			<dt>Failed</dt>
			<dd>{{failed}}</dd>
		</dl>
		{{#failed}}
		<h2>Failures:</h2>
		<ul class="failures">
		{{/failed}}
			{{#failures}}
				<li><a href="#error_{{index}}">{{test}}</a></li>
			{{/failures}}
		{{#failed}}
		</ul>
		{{/failed}}

		{{{results}}}

	</body>
</html>
